<launch>
  <master auto="start"/>

  <!-- use sim time for /clock -->
  <param name="use_sim_time" value="true"/>

  <!-- launch 2d navigation -->
  <include file="$(find sarg_2dnav)/launch/sarg_2dnav_sim.launch"/>

  <!-- run p2os to control the pioneer -->
  <arg name="p2os_driver" value="1"/>

  <!-- start stage in the given world -->
  <param name="includeFile" value="$(find sarg_2dnav)/maps/stageworlds/demo.world" type="str"/>
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(find sarg_2dnav)/maps/stageworlds/pebfirst.world"/>

  <!-- launch joystick teleop -->
  <include file="$(find sarg_bot)/launch/teleop_joy.launch"/>

  <!-- run rviz with preset config -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find sarg_2dnav)/config/rvizConfig.rviz"/>

  <!-- launch leg detector, for some reason this terminates when launched from this file so it will have to be started manually -->
  <!-- <include file="$(find leg_detector)/launch/leg_detector.launch"/> -->
</launch>
