<launch>
	<!-- run p2os to control the pioneer -->
  <arg name="p2os_driver" value="1"/>

  <!-- start stage in the given world -->
  <param name="includeFile" value="$(find sarg_2dnav)/3rd.world" type="str" />
  <node pkg="stage_ros" type="stageros" name="stageros" args="$(find sarg_2dnav)/3rd.world" />

  <!-- relay base_scan to scan since they have the same msg -->
  <node pkg="topic_tools" type="relay" name="relay_scan" args="/base_scan /scan" />
</launch>
